site/.editorconfig
site/.gitignore
site/nuxt.config.js
site/package-lock.json
site/package.json
site/README.md
site/components/CityChoser.vue
site/components/Footer.vue
site/components/Header.vue
site/components/HotCasesSlider.vue
site/components/Maper.vue
site/components/Recomends.vue
site/components/Title.vue
site/components/YandexMaps.vue
site/layouts/default.vue
site/pages/account.vue
site/pages/index.vue
site/pages/list.vue
site/pages/map.vue
site/pages/search.vue
site/pages/spheres/_id.vue
site/pages/spheres/index.vue
site/plugins/eventBus.js
site/plugins/TinySlider.js
site/plugins/ymapPlugin.js
site/services/API.js
site/services/sphere.js
site/static/favicon.ico
site/static/icons/account.svg
site/static/icons/arrow.svg
site/static/icons/filter.svg
site/static/icons/home.svg
site/static/icons/iconDown.svg
site/static/icons/map.svg
site/static/icons/pointIcon.svg
site/static/icons/purchase.svg
site/static/icons/search.svg
site/static/icons/sphere.svg
site/static/icons/star.svg
site/static/icons/toDown.svg
site/static/icons/toTop.svg
site/static/img/ava.svg
site/static/img/clothes.svg
site/static/img/drugs.svg
site/static/img/electroinc.svg
site/static/img/food.svg
site/static/img/map.svg
site/static/img/things.svg
site/static/img/zoo.svg
site/static/img/brands/Газпром.svg
site/static/img/brands/Магнит.svg
site/static/img/brands/Перекресток.svg
site/static/img/brands/Пятёрочка.svg
site/static/img/brands/ActividionBlizzard.svg
site/static/img/brands/apteka.ru.svg
site/static/img/brands/DNS.svg
site/static/img/brands/DODO.svg
site/static/img/brands/Epic Games Store.svg
site/static/img/brands/GS auto.svg
site/static/img/brands/ikea.com.svg
site/static/img/brands/MACDONALDS.svg
site/static/img/brands/MerchantName.svg
site/static/img/brands/OSAKA.svg
site/static/img/brands/PetShop.ru.svg
site/static/img/brands/shein.com.svg
site/static/img/brands/STEAM.svg
site/store/index.js
site/store/README.md
site/style/global.css
